extends base.pug
block scripts 
    script(src="../static/index.js") 

block style 
    style 
        include ../static/styles.css
        include ../static/aboutstyles.css
    

block content
    div.about
        h2 About Us 
        div.info
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quod cupiditate voluptate odio laborum corporis dolore dicta officiis minima voluptatem, repudiandae ullam reprehenderit, quisquam eaque eius ut at itaque pariatur deserunt rem quae est. Possimus explicabo pariatur quis laudantium incidunt nihil id iusto quibusdam doloribus repellendus soluta modi, laboriosam ab eveniet molestias laborum sequi aliquid hic aut non dolore? Sint, optio placeat! Tenetur excepturi error eveniet quisquam maiores nam alias distinctio sed nulla nemo voluptas quam delectus eaque cum officiis eos expedita perspiciatis incidunt repudiandae odit aspernatur, ducimus dolore sapiente. Eveniet similique dolore corrupti nemo dolores assumenda, aut error aliquam.
            br
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum in quasi ipsam aliquam eaque sunt repudiandae, sed unde nesciunt assumenda totam, minima necessitatibus. Suscipit maxime eum totam consectetur obcaecati incidunt cupiditate esse illum eaque saepe, corrupti accusantium! Dolorem illo vitae, officia facilis, doloremque iusto perspiciatis maxime nemo delectus distinctio, aut quaerat nesciunt ut iste placeat? Vel ipsa veniam nobis voluptatibus nostrum. Earum sapiente facilis fugiat sint, cupiditate iusto sit rerum a voluptas dolorum. Fuga error perspiciatis expedita amet obcaecati? Nam incidunt quas deserunt? Iusto sit veniam odit hic sequi doloribus harum atque at odio? Provident nam delectus velit aliquam iusto adipisci laboriosam quae officia excepturi culpa ut ad odio ea debitis voluptatum magni quod, illo veritatis hic possimus dignissimos nostrum consequuntur. Numquam totam quisquam asperiores quam nostrum illo mollitia quaerat, nobis hic, placeat obcaecati? Alias mollitia sint sapiente nemo saepe ipsum ut a minus enim, voluptatibus aspernatur. Molestiae, corporis fugiat?