doctype html 
html
  head
    title StepUp | Dance Academy 
    block scripts
    block style 

  body
    nav#navbar.top
                ul
                    div#logo
                        #image 
                            img(src="logo.png", alt="abc")
                        #content | SUP 
                    li #[a(href='/') Home ]
                    li #[a(href='/about') About ]
                    li #[a(href='/services') Class Info ]
                    li #[a(href='/contact') Contact Us ]
    block content
    footer#footerSection 
                | Copyright © 2022 StepUpDanceAcademy.com | All rights reserved
