<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StepUp | Dance Academy</title>
    <link rel="stylesheet" href="/static/styles1.css">
</head>
<body>

    <section id="introSection">
        <div class="headings">
            <h1>Welcome to StepUp Dance Academy
                <h4>Anybody Can dance</h4>
            </h1>
        </div>

        <div class="cardbox">
            <div class="heading2">
                <h1>Our Missions</h1>
            </div>
            <div class="cards">
                
                <div class="card1">
                    <h3>Dance Perfection</h3>
                    <div class="cardinnerbox">
                        <div class="card-img">
                            <img src="/static/card1new.png" alt="" >
                        </div>
                        <div class="cardcontent">
                            <p>We will perfectionize the way you dance.</p>
                        </div>
                    </div>
                </div>

                <div class="card1">
                    <h3>Express</h3>
                    <div class="cardinnerbox">
                        <div class="card-img">
                            <img src="/static/card2new.png" alt="" width="90px" height="120px">
                        </div>
                        <div class="cardcontent">
                            <p>Dance to Express not to Impress</p>
                        </div>
                    </div>
                </div>

                <div class="card1">
                    <h3>Dance the way You like </h3>
                    <div class="cardinnerbox">
                        <div class="card-img">
                            <img src="/static/card3new.png" alt="" width="90px" height="120px">
                        </div>
                        <div class="cardcontent">
                            <p>Choose your own style.</p>
                        </div>
                    </div>
                </div>

                <div class="card1">
                    <h3>Just Do it!</h3>
                    <div class="cardinnerbox">
                        <div class="card-img">
                            <img src="/static/card1new.png" alt="" width="100px" height="120px">
                        </div>
                        <div class="cardcontent">
                            <p>Eat Sleep Dance Repeat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="sponsorSection">
        
        <div class="heading3">
            <h1>Sponsored By</h1>
        </div>

        <div class="sponsorimage">
            <img src="/static/Didnew.png" alt=""></img>
            <img src="/static/sonynew.png" alt=""></img>
            <img src="/static/star.png" alt=""></img>

        </div>


    </section>

    
</body>
</html>