doctype html 
html 
    head
        title StepUp | Dance Academy  
        style 
            include ../static/styles.css

        body
            
            
            
            script 
                include ../static/index.js