extends base.pug
block scripts 
    script(src="../static/index.js") 

block style 
    style 
        include ../static/styles.css
        include ../static/servicesstyles.css

block content 
    div.timetable
       